{% extends "index1.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href='{% static "css/registrodocentes.css" %}'>
    </head>
    <body>
        <div>
            <div class="titulo">
                <h2>Registro de Estudiante</h2>
            </div>
            <form action="{% url 'student_signup' %}" method="POST" class="basic-grey">
                {% csrf_token %}
                <div class = "opciones">
                    <label for="{{form.first_name.id_for_label}}">Nombre del estudiante</label>
                    <div class="form-warp">
                        {{form.first_name}}
                    </div>
                    {% if form.first_name.errors %}
                    <ul>
                        {% for error in form.first_name.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.last_name.id_for_label}}">Apellido del estudiante</label>
                    <div class="form-warp">
                        {{form.last_name}}
                    </div>
                    {% if form.last_name.errors %}
                    <ul>
                        {% for error in form.last_name.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.email.id_for_label}}">Email</label>
                    <div class="form-warp">
                        {{form.email}}
                    </div>
                    {% if form.email.errors %}
                    <ul>
                        {% for error in form.email.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.ni.id_for_label}}">Número de identificación</label>
                    <div class="form-warp">
                        {{form.ni}}
                    </div>
                    {% if form.ni.errors %}
                    <ul>
                        {% for error in form.ni.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.username.id_for_label}}">Nombre de usuario</label>
                    <div class="form-warp">
                        {{form.username}}
                    </div>
                    {% if form.username.errors %}
                    <ul>
                        {% for error in form.username.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.password.id_for_label}}">Contraseña</label>
                    <div class="form-warp">
                        {{form.password}}
                    </div>
                    {% if form.password.errors %}
                    <ul>
                        {% for error in form.password.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.password_confirmation.id_for_label}}">Confirmación de contraseña</label>
                    <div class="form-warp">
                        {{form.password_confirmation}}
                    </div>
                    {% if form.password_confirmation.errors %}
                    <ul>
                        {% for error in form.password_confirmation.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.grado.id_for_label}}">Grado del estudiante</label>
                    <div class="form-warp">
                        {{form.grado}}
                    </div>
                    {% if form.grado.errors %}
                    <ul>
                        {% for error in form.grado.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.edad.id_for_label}}">Edad</label>
                    <div class="form-warp">
                        {{form.edad}}
                    </div>
                    {% if form.edad.errors %}
                    <ul>
                        {% for error in form.edad.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.barrio.id_for_label}}">Barrio</label>
                    <div class="form-warp">
                        {{form.barrio}}
                    </div>
                    {% if form.barrio.errors %}
                    <ul>
                        {% for error in form.barrio.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class = "opciones">
                    <label for="{{form.telefono.id_for_label}}">Telefono</label>
                    <div class="form-warp">
                        {{form.telefono}}
                    </div>
                    {% if form.telefono.errors %}
                    <ul>
                        {% for error in form.telefono.errors %}
                            <li class="errores">{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="boton">
                    <input type="submit" value="Enviar">
                </div>
            </form>

        </div>
{% endblock %}

