{% extends "index1.html" %}
{% load static %}
{% block content %}
    <head>
        <script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		<script src="https://code.highcharts.com/modules/accessibility.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
	<div id="container"></div>
	<div id="container-pie"></div>
	<div id = "container-line"></div>
	<script type="application/javascript">
	var graphcolum = Highcharts.chart('container', {
		chart: {
			type: 'column'
		},
		title: {
			text: 'Informe de recoleccion mensual'
		},
		subtitle: {
			text: 'Informacion por institucion'
		},
		xAxis: {
			categories: [
				'Enero',
				'Febrero',
				'Marzo',
				'Abril',
				'Mayo',
				'Junio',
				'Julio',
				'Agosto',
				'Septiembre',
				'Octubre',
				'Noviembre',
				'Diciembre'
			],
			crosshair: true
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Aceite Recolectado (Litros)'
			}
		},
		tooltip: {
			headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				'<td style="padding:0"><b>{point.y:.1f} L </b></td></tr>',
			footerFormat: '</table>',
			shared: true,
			useHTML: true
		},
		plotOptions: {
			column: {
				pointPadding: 0.2,
				borderWidth: 0
			}
		},
	});

	var graphpie = Highcharts.chart('container-pie', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
		},
		title: {
			text: 'Porcentaje de Aceite recolectado por grado'
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		accessibility: {
			point: {
				valueSuffix: '%'
			}
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					format: '<b>{point.name}</b>: {point.percentage:.1f} %'
				}
			}
		},
	});

	var graphline = Highcharts.chart('container-line', {
    title: {
        text: 'Recoleccion mensual total'
    },
    xAxis: {
		categories: [
				'Enero',
				'Febrero',
				'Marzo',
				'Abril',
				'Mayo',
				'Junio',
				'Julio',
				'Agosto',
				'Septiembre',
				'Octubre',
				'Noviembre',
				'Diciembre'
			],
			crosshair: true
    },
    yAxis: {
        title: {
            text: 'Cantidad de aceite recolectada (L)'
        },
    },
	legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    tooltip: {
        pointFormat: ' Aceite total recolectado <b>{point.y:,.0f}</b><br/> Litros'
    },
	responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }
});

	function get_colum(){
		$.ajax({
			url: window.location.pathname,
			type: 'POST',
			data: {
				'action': 'get_colum'
			},
			dataType: 'json',
		}).done(function (data){			
			if(!data.hasOwnProperty('error')){
				console.log(data);
				data.forEach(element => graphcolum.addSeries(element));
				
				return false;
			}
			message_error(data.error);
		}).fail(function (jqXHR, textStatus, errorThrown){
			alert(textStatus+': '+errorThrown);
		}).always(function (data){

		});
	}

	function get_pie(){
		$.ajax({
			url: window.location.pathname,
			type: 'POST',
			data: {
				'action': 'get_pie'
			},
			dataType: 'json',
		}).done(function (data){			
			if(!data.hasOwnProperty('error')){
				console.log(data);
				graphpie.addSeries(data);
				
				return false;
			}
			message_error(data.error);
		}).fail(function (jqXHR, textStatus, errorThrown){
			alert(textStatus+': '+errorThrown);
		}).always(function (data){

		});
	}

	function get_line(){
		$.ajax({
			url: window.location.pathname,
			type: 'POST',
			data: {
				'action': 'get_line'
			},
			dataType: 'json',
		}).done(function (data){			
			if(!data.hasOwnProperty('error')){
				console.log(data);
				data.forEach(element => graphline.addSeries(element));
				
				return false;
			}
			message_error(data.error);
		}).fail(function (jqXHR, textStatus, errorThrown){
			alert(textStatus+': '+errorThrown);
		}).always(function (data){

		});
	}

	$(function(){
		get_colum();
		get_pie();
		get_line();
	})
	</script>
{% endblock %}