@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.titulo{
    font-size: 23px;
    color:#809f45;
    margin-left:auto;
	margin-right:auto;
    max-width: auto;
    background: #F7F7F7;
    padding: 25px 30px 0px 200px;
}

.basic-grey {
	margin-left:auto;
	margin-right:auto;
    max-width: auto;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
}

.opciones{
    padding: 10px ;
}

input[type="submit"]{
    width: 30%;
    height: 40px;
    margin-top: 10px;
    margin-left: 100px;
    color:azure;
    background: linear-gradient(90deg, #99b628,#809f45);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
    border: 1px;
    outline: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
label {
    font : 12px;
    font-size: 17px;
    margin-left: 10px;
    font-weight:bold;
    color: #809f45;
  }

input[type=text], input[type="email"], input[type="number"], input[type="password"], select{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.errores{
    margin-left: 15px;
    color:red;
    font-size: 14px;
}

@media only screen and (max-width: 768px){
    .titulo {
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 360px){
    input[type=text], input[type="email"], input[type="number"], input[type="password"], select{
        width: 70%;
    }
}
