{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>R-Oil</title>
		<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
		<link rel="stylesheet" href='{%static "css/style.css" %}'>
		{% block head_content %}{% endblock %}

	</head>

<body>
	<input type="checkbox" id="nav-toggle">
	<div class="sidebar">
		<div class="sidebar-brand">
			<h1><span class="las la-tint" style="color: white;"></span><span>R-Oil</span></h1>
		</div>

		<div class="sidebar-menu">
			<ul>
				{% if user.admin_proyecto %}
				<li>
					<a href="{% url 'registro gestores' %}" class="{% if request.path == '/gestores/registro/' %}active{% endif %}"><span class="las la-chalkboard-teacher"></span>
					<span>Registro de Admin</span></a>
				</li>
				<li>
					<a href="{% url 'registro docente' %}" class="{% if request.path == '/docentes/registro/' %}active{% endif %}"><span class="las la-chalkboard-teacher"></span>
					<span>Registro de docente</span></a>
				</li>
				<li>
					<a href="{% url 'registro_institucion' %}" class="{% if request.path == '/institucion/registroinst/' %}active{% endif %}"><span class="las la-school"></span>
					<span>Registro de institucion</span></a>
				</li>
				<li>
					<a href="{% url 'informe global' %}" class="{% if request.path == '/informes/global/' %}active{% endif %}"><span class="las la-money-check"></span>
					<span>Informe Global</span></a>
				</li>
				{% endif %}
				{% if user.admin_docente %}
				<li>
					<a href="{% url 'registro de aceite' %}" class="{% if request.path == '/aceite/registro/' %}active{% endif %}"><span class="las la-clipboard-list"></span>
					<span>Registro de aceite</span></a>
				</li>
				<li>
					<a href="{% url 'registro de estudiante' %}" class="{% if request.path == '/estudiantes/registro/' %}active{% endif %}"><span class="las la-user-graduate"></span>
					<span>Registro de estudiante</span></a>
				</li>
				<li>
					<a href="{% url 'informe_local' %}" class="{% if request.path == '/informes/local/' %}active{% endif %}"><span class="las la-money-check"></span>
					<span>Informe Local</span></a>
				</li>
				{% endif %}
				{% if user.usuario_inst %}
				<li>
					<a href="{% url 'datos' %}" class="{% if request.path == '/estudiantes/datos/' %}active{% endif %}"><span class="las la-money-check"></span>
					<span>Informacion personal</span></a>
				</li>
				<li>
					<a href="{% url 'premios:disponibles' %}" class="{% if request.path == '/premios/disponibles/' %}active{% endif %}"><span class="las la-money-check"></span>
					<span>Premios disponibles</span></a>
				</li>
				<li>
					
					<span>Premios canjeados</span></a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<div class="main-content">
		<header>
			<h2 id="dashboard">
				<label for="nav-toggle">
					<span class="las la-bars"></span>
				</label>
				Dashboard
			</h2>

			

			<div class="user-wrapper">
				<button ><div class="boton">
					<img src='{% static "imagenes/Logo R-Oil (1).jpg" %}' width="40px" height="40px" alt="">
					<div>
						<h4>{{ user.first_name }}&nbsp;{{ user.last_name }}</h4>
						{% if user.admin_proyecto %}
						<small>Administrador</small>
						{% elif user.admin_docente %}
						<small>Docente</small>
						{% else %}
						<small>Estudiante</small>
						{% endif %}
					</div>
				</div></button>
				<ul>
					<li><a href="{% url 'logout' %}">Salir</a></li>
					<li><a>Copia de seguridad</a></li>
				</ul>
			</div>
		</header>

		<main>
			<div class="cards">
				<div class="card-single">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</main>
	</div>
</body>
</html>