{% extends "home_estudiantes.html" %}
{% load static %}
{% block head_content %}
    <title>Disponibles</title>
    <link rel="stylesheet" href='{%static "css/style_estudiante.css" %}'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/premiosdisponibles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div class ="contenedor-carrousel">
    <h1>Premios disponibles:</h1>
    <div class="postcards">
        
        {% for premio in premios %}
            <div class="postcard">
                <div class="postcard-overlay">
                    {% csrf_token %}
                    <div class="heading"><button onclick="reclamar('{{premio.id}}')" class="button">Reclamar</button></div>
                </div>
                <div class="postcard_content">
                    <div class="postcard_title">{{ premio.nombre }}</div>
                    <div class="postcard_price">Puntos: {{ premio.precio }}</div>
                    <div class="postcard_stock">Restantes: {{ premio.cantidad }}</div>
                </div>
                <img class="postcard-poster" src="{{ premio.imagen.url }}">
            </div>
        {% endfor %}
    </div>
</div>
<script>
    titulo = document.getElementById("dashboard");
    titulo.innerHTML = "Puntos disponibles: "+"{{puntos}}";
</script>
<script>
    function reclamar(premio){
        var token =  $('input[name="csrfmiddlewaretoken"]').attr('value')
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data:{
                'premio':premio
            },
            headers: {
                'X-CSRFToken': token 
            },
        }).done(function (data){
            if(!data.hasOwnProperty('error')){
                if(data.resultado){
                    Swal.fire({
                        "title": "Premio reclamdo con exito",
                        "icon":"success",
                        "text": data.codigo,
                    })
                    titulo = document.getElementById("dashboard");
                    titulo.innerHTML = data.puntos;
                }else{
                    Swal.fire({
                        "title": "No tienes los puntos disponibles",
                        "icon":"error",
                        "text": data.codigo,
                    })
                }
            }
        })
    }
</script>
{% endblock %}
