{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disponibles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/premiosdisponibles.css' %}">
</head>
<body>
    <div class ="contenedor-carrousel">
        <h1>Premios disponibles:</h1>
        <div class="cards">
            
            {% for premio in object_list %}
                <div class="card">
                    <div class="card-overlay">
                        <div class="heading"><input type = "submit" class="button" value="Reclamar" id={{premio.id}}></div>
                    </div>
                    <div class="card_content">
                        <div class="card_title">{{ premio.nombre }}</div>
                        <div class="card_stock">Restantes: {{ premio.cantidad }}</div>
                        <div class="card_price">Puntos: {{ premio.precio }}</div>
                    </div>
                    <h3></h3>
                    <img class="card-poster" src="{{ premio.imagen.url }}">
                    <p></p>
                </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>