{% extends "index1.html" %}
{% load static %}
{% block head_content %}
    <title>Canje de Premios</title>
    <link rel="stylesheet" href='{%static "css/registrodocentes.css" %}'>

{% endblock %}
{% block content %}
    <div class="titulo">
        <h2>Reclamo de Premio</h2>
    </div>
    <form method="POST" class="basic-grey">
        {% csrf_token %}
        <div class = "opciones">
           
            <p style = "font-size: 17px;">Recuerde que el sistema es sensible a las mayusculas, por favor ingrese correctamente el codigo</p>
            
            <label style = "font-size: 25px; margin-top: 20px;">Ingrese el codigo de canjeo</label>
            <div class="form-warp">
                <input type="text" name="codigo" id="codigo">
            </div>
        <div class="boton">
            <input type="submit" value="Enviar">
        </div>
    </form>    
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    "title": "{{m}}",
                    "icon":"{{m.tags}}"
                })
            </script>
        {% endfor %}
    {% endif %}       
        
{% endblock %}
